.title {
    font-size: 15rem;
    grid-column: 1 / -1;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 1.5rem;
    justify-items: center;
    justify-content: center;
}

.left {
    justify-self: end;
}
.right {
    justify-self: start;
}