<div class="black-container container">
    <h2 class="title">Nov proizvod</h2>
    <input type="text" class="input" placeholder="Naziv">
    <input type="text" class="input" placeholder="Cena">
    <label for="file-input" class="input file-input-wrapper ">Slika</label>
    <input type="file" class="file-input" id="file-input" placeholder="Slika">


    <textarea rows="3" class="input input__area" placeholder="Opis"></textarea>
    <textarea rows="3" class="input input__area" placeholder="Nacin koriscenja"></textarea>

    <button class="button" (click)="addItem()">Dodaj</button>


</div>