<div class="black-container container">
    <h2 class="title">Nov proizvod</h2>
    <input type="text" class="input" placeholder="Naziv" [(ngModel)]="product.ime">
    <input type="text" class="input" placeholder="Cena" [(ngModel)]="product.cena">
    <label for="file-input" class="input file-input-wrapper ">Slika</label>
    <input type="file" class="file-input" id="file-input" placeholder="Slika" (change)="addImg($event)">


    <textarea rows="3" class="input input__area" placeholder="Opis" [(ngModel)]="product.opis"></textarea>
    <textarea rows="3" class="input input__area" placeholder="Nacin koriscenja" [(ngModel)]="product.nacinKor"></textarea>

    <button class="button" (click)="addItem()">Dodaj</button>


</div>