<div class="container">
    <img class="logo" src="../../assets/logo.jpg" alt="Logo" /> 
    <h1 class="title">Medenjaci</h1>
    <div class="navbar">
        <button class="navbar__button">
           <span class="navbar__label">Marko</span> 
            <img class="navbar__icon" src="../../assets/user.svg" alt="user"/>
        </button>
        <button class="navbar__button">
            <span class="navbar__label">1</span> 
             <img class="navbar__icon" src="../../assets/shopping-cart-empty-side-view.svg" alt="user"/>
         </button>
         <button class="navbar__button">
             <img class="navbar__icon" src="../../assets/logout.svg" alt="user"/>
         </button>
    </div>
</div>