<div class="container">
    <img routerLink="" class="logo" src="../../assets/logo.jpg" alt="Logo" /> 
    <h1 routerLink="" class="title">Medenjaci</h1>
    <h2 class="title">{{status}}</h2>
    <div *ngIf="status" class="navbar">
        <button class="navbar__button">
           <span class="navbar__label">Marko</span> 
            <img class="navbar__icon" src="../../assets/user.svg" alt="user"/>
        </button>
        <button class="navbar__button">
            <span class="navbar__label">1</span> 
             <img class="navbar__icon" src="../../assets/shopping-cart-empty-side-view.svg" alt="user"/>
         </button>
         <button class="navbar__button" (click)="logout()">
             <img class="navbar__icon" src="../../assets/logout.svg" alt="user"/>
         </button>
    </div>
</div>