<div class="black-container container">
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey1.jpg" alt="image 1" class="item__img">
        </div>
        <h3 class="item__name">Livadski med</h3>
        <h2 class="item__price">1500 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey2.jpg" alt="image 2" class="item__img">
        </div>
        <h3 class="item__name">Bagremov med</h3>
        <h2 class="item__price">2000 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey3.jpg" alt="image 3" class="item__img">
        </div>
        <h3 class="item__name">Crni med</h3>
        <h2 class="item__price">2500 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey4.jpg" alt="image 4" class="item__img">
        </div>
        <h3 class="item__name">Zuti med</h3>
        <h2 class="item__price">1800 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey5.jpg" alt="image 5" class="item__img">
        </div>
        <h3 class="item__name">Med</h3>
        <h2 class="item__price">1000 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey1.jpg" alt="image 6" class="item__img">
        </div>
        <h3 class="item__name">Med</h3>
        <h2 class="item__price">1000 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey2.jpg" alt="image 7" class="item__img">
        </div>
        <h3 class="item__name">Med</h3>
        <h2 class="item__price">1000 din</h2>
    </div>
    <div class="item" >
        <div class="item__img-container">
            <img (click)="goToDetails($event)" src="../../assets/honey3.jpg" alt="image 8" class="item__img">
        </div>
        <h3 class="item__name">Med</h3>
        <h2 class="item__price">1000 din</h2>
    </div> 
</div>
