
$default-text: rgb(44, 42, 43);
$dark-text: rgb(36, 34, 35);
$light-text: #838282;
$lighter-text: #a5a3a3;

$black: rgb(0, 0, 0);
$light-orange: #ffcc66;
$dark-orange: #ff9900;


$brown-color:  rgb(77, 27, 27);

$font-default:"Caveat", cursive;;
$font-secondary: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$white-background: rgba(216, 212, 212, 0.05);